@charset "utf-8";
* {
  box-sizing: border-box;
}
body {
	background-color: #323232;
	margin: 0px;
}
p {
	color: #FFFFFF;
	font-family: Arial;

}
h1 {
	font-family: Arial;
}
a {
	color: #FF0000;
	font-family: Arial;
}
footer {
	align-content: center;
	border-radius: 10px;
	background-color: #FF0000;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}
.logo {
	width: 50px;
	height: 50px;
}
.title {
	margin-left: 50px;
	color: #FF0000;
	font-family: Arial;
}
.content {
	padding-left: 50px;
	padding-right: 50px;
}
.menu {
  float: left;
  width: 20%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: #808080;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 10px;
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}